/* - - new code - -  */

#console p:first-child {
    width: max-content;
    background-color: #000;
    color: #FFF;
    padding: 0.5rem;
    line-height: 1rem;
    z-index: 99 !important;
    opacity: 1 !important;
    box-shadow: 5px 5px 20px #323232; 
}


.audio-stages p {
    background-color: #7a7a7a;
    color: #FFF;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: bold;
    width: min-content;
    margin: 1rem;
    padding: 0.5rem;
    box-shadow: 5px 5px 20px #323232;
    opacity: 1 !important;
}

/* - - - - - - - - */

@font-face {
  font-family: Libertinage;
  src: url(Libertinage.ttf);
}
html {
    box-sizing: border-box;
    height: 100%
}
*, *:before, *:after { 
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; 
}
body{
	margin:0px;
}

#overlay {
    font-family: Libertinage, sans-serif;
    position: absolute;
    z-index: 500;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
    background-color: #000000;
    color: #ffffff;
    font-size: 1.2rem;
    overflow-y: hidden;
}
#overlay p {
  margin: 0.4rem 4rem;
  text-align: center;
}
#overlay a, #overlay a:visited {
   color: #fce5f3; 
}

.button-main {
  display: none;
  font-family: Libertinage, sans-serif;
  background: rgb(185,185,185);
  background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 25%, rgba(185,185,185,1) 50%, rgba(0,0,0,1) 70%, rgba(0,0,0,0.8) 100%)
  background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 25%, rgba(185,185,185,1) 50%, rgba(0,0,0,1) 70%, rgba(0,0,0,0.8) 100%);
  background: linear-gradient(90deg, rgba(0,0,0,1) 25%, rgba(185,185,185,1) 50%, rgba(0,0,0,1) 70%, rgba(0,0,0,0.5) 100%);
  border: none;
  color: #fce5f3;
  font-size: 2rem;
  animation: glow 2s infinite alternate;
  -o-animation: glow 2s infinite alternate;
  -moz-animation: glow 2s infinite alternate;
  -webkit-animation: glow 2s infinite alternate;
}
.button-main:hover, #overlay a {
  cursor: alias;
}

#overlay ~ * {
  display: none;
}
.bye ~ * {
  display: inherit !important;
}
.bye ~ script {
  display: none !important;
}

.bye{
  animation: bye 2s forwards;
  -o-animation: bye 2s forwards;
  -moz-animation: bye 2s forwards;
  -webkit-animation: bye 2s forwards;
  animation-iteration-count: 1;
  z-index: -1 !important;
   pointer-events: none;
}
@keyframes bye {
  0% {
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
    display: none;
  }
}
@-webkit-keyframes bye {
  0% {
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
    display: none;
  }
}

#console  {
  margin: 1vw;
  font-family: Libertinage, sans-serif;
  color: #000;
  opacity: 0.9;
  position: absolute;
  z-index: 99;
  font-size: 2vw;
  line-height: 3vw;
  max-width: 35vw;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 95vh;
  overflow: hidden;
}
#console p {
  margin: 0px;
  animation: glow 2s infinite alternate;
  -o-animation: glow 2s infinite alternate;
  -moz-animation: glow 2s infinite alternate;
  -webkit-animation: glow 2s infinite alternate;
}
@keyframes glow {
    to {
        text-shadow: 0 0 6px #FFF;
    }
}
@-webkit-keyframes glow {
    to {
        text-shadow: 0 0 6px #FFF;
    }
}
.score {
      background-image: linear-gradient(#fce5f3 20%, #FFF 60%, #fce5f3 30%);
    color: #000;
    font-size: 0.8rem;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 0;
    margin: 1rem;
    padding: 0.5rem;
    line-height: 1rem;
    z-index: 99 !important;
    box-shadow: 2px 2px 10px #c75299;
    text-decoration: none;
    opacity: 0.75;
}
a.score:hover {
  cursor: alias;
  opacity: 1;
}
#stage01 {
    z-index: 1;  
}
.stage01 {
  margin-top: 0px;
  filter: grayscale(100%);
  box-shadow: -20px 2px 20px #eee;
}
#text {
    font-size: 8vw;
    line-height: 9.5vw;  
    position: absolute;
    z-index: 90;
    top: 0;
    font-family: serif;
    font-weight: bold;
    word-spacing: 1vw;
}
.stage02 {
    position: absolute;
    border-radius: 50% 50%;
    width: 100vw;
    height: 100vw;
    top: 0;
    left: 0;
    box-shadow: 2px 20px 100px #323232;
    z-index: 80;
}

.audio-stages {
    position: absolute;
    display: flex !important;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
    right: 0;
    bottom: 0;
    z-index: 99 !important;
}

.stage103, .stage105, .stage106, .stage107, .stage108, .stage109 {
    background-color: #000;
    color: #FFF;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: bold;
    width: min-content;
    margin: 1rem;
    padding: 0.5rem;
    box-shadow: 5px 5px 20px #323232;
    opacity: 0;
}

.blink {
  opacity: 1;
}

.blink-anim {
    -webkit-animation: stageblink 4s linear forwards;
    -moz-animation: stageblink 4s linear forwards;
    animation: stageblink 4s linear forwards;
}

@-moz-keyframes stageblink { 
  0% { opacity: 0; } 
  50% { opacity: 1; } 
  100% { opacity: 0; } 
}
@-webkit-keyframes stageblink { 
  0% { opacity: 0; } 
  50% { opacity: 1; } 
  100% { opacity: 0; }  
}
@keyframes stageblink { 
  0% { opacity: 0; } 
  50% { opacity: 1; } 
  100% { opacity: 0; } 
}


.stage01::after {
	content: 'DANCER01';
	background-color: #000;
    color: #FFF;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 0;
    margin: 1rem;
    padding: 0.5rem;
    line-height: 1rem;
    z-index: 99 !important;
    opacity: 1 !important;
    box-shadow: 5px 5px 20px #323232;
}

.stage03::after {
	content: 'DANCER03';
}
.stage02::after {
	content: 'DANCER02';
}

.stage02::after, .stage03::after {
	background-color: #000;
    color: #FFF;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    margin: 1rem;
    padding: 0.5rem;
    line-height: 1rem;
    z-index: 99 !important;
    opacity: 1 !important;
    box-shadow: 5px 5px 20px #323232;
}
.circle {
    position: absolute;
    border-radius: 50% 50%;
    width: 100vw;
    height: 100vw;
    top: 0;
    left: 0;
    box-shadow: 2px 20px 100px #323232;
    z-index: 80;
}

.triangle {
	 z-index: 99;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 100vw solid black;
}

#diamond {
      width: 0;
      height: 0;
      border: 50vw solid transparent;
      border-bottom-color: red;
      position: relative;
      top: -50vw;
}
#diamond:after {
      content: '';
      position: absolute;
      left: -50vw;
      top: 50vw;
      width: 0;
      height: 0;
      border: 50vw solid transparent;
      border-top-color: #000;
}

.rotating {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotateY(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotateY(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotateY(360deg); transform:rotateY(360deg); } }

.otherthan {
	animation: morph  22s  linear infinite;
    -webkit-animation: morph  22s linear infinite;  
}
.same{
	animation: none;
    -webkit-animation: none; 
}

@keyframes morph {
    0% {
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }
    25% { 
      border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
    }
    50% {
      border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
    }
    75% {
      border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
    }
    100% {
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }
  }

@-webkit-keyframes morph {
    0% {
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }
    25% { 
      border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
    }
    50% {
      border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
    }
    75% {
      border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
    }
    100% {
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }
}

.sliding {
  animation: slide 10s ease-in-out infinite; 
  -webkit-animation: slide 10s infinite alternate; /* Safari 4+ */
  -moz-animation:   slide 10s infinite alternate; /* Fx 5+ */
  -o-animation:     slide 10s infinite alternate; /* Opera 12+ */
  animation:        slide 10s infinite alternate; /* IE 10+, Fx 29+ */    
}
.noslide {
  animation: none; 
  -webkit-animation:  none; /* Safari 4+ */
  -moz-animation:  none; /* Fx 5+ */
  -o-animation:  none; /* Opera 12+ */
  animation:   none; /* IE 10+, Fx 29+ */    
}

@keyframes slide {
  0% { transform:translateX(-500px) }
  10% { transform:translateX(0px) }
  50% { transform:translateY(-500px) }
  100% { transform:translateX(-500px) }
}

@-webkit-keyframes slide {
  0% { transform:translateX(-500px) }
  10% { transform:translateX(0px) }
  50% { transform:translateY(-500px) }
  100% { transform:translateX(-500px) }
}


.phase01 {
  background-size: 300% 300%;
   background-image: radial-gradient(ellipse farthest-corner at 50% 50% , #fddddd 0%, #fddddd 60%, #454545 65%);
  animation: one 60s  infinite;
  -webkit-animation: one 60s infinite;   
}

.phase01::after {
    content: "dancers are moving to a new phase";
    background-color: #000;
    color: #FFF;
    font-size: 1.25rem;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%,-50%);
    margin: 1rem;
    padding: 0.5rem;
    line-height: 1rem;
    z-index: 999 !important;
    box-shadow: 5px 5px 20px #323232;
    animation: trans 6s forwards;
    -webkit-animation: trans 6s forwards; 
    animation-iteration-count: 1;
}

@keyframes trans {
    0% { opacity: 1 }
    25% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@-webkit-keyframes trans {
    0% { opacity: 1 }
    25% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.nophase01{
  animation: none; 
  -webkit-animation: none; 
}

@keyframes one { 
    0%{background-position:20% 20%}
    16%{background-position:50% 10%}
    20%{background-position:60% 20%}
    25%{background-position:80% 20%;}
    35%{background-position:80% 20%;
    background-size: 1% 500%;}
    40%{background-position:90% 50%;
    background-size: 300% 10%;}
    50%{background-position:80% 80%;
      background-size: 100% 100%; }
    62%{background-position:50% 90%}
    75%{background-position:20% 80%;
    background-size: 30% 10%;}
    79%{background-position:10% 50%;
    background-size: 30% 10%;}
    87%{background-position:10% 40%;
     background-size: 100% 100%; }
    90%{background-position:20% 30%}
    100%{background-position:20% 20%}
}  

@-webkit-keyframes one { 
    0%{background-position:20% 20%}
    16%{background-position:50% 10%}
    20%{background-position:60% 20%}
    25%{background-position:80% 20%;}
    35%{background-position:80% 20%;
    background-size: 1% 500%;}
    40%{background-position:90% 50%;
    background-size: 300% 10%;}
    50%{background-position:80% 80%;
      background-size: 100% 100%; }
    62%{background-position:50% 90%}
    75%{background-position:20% 80%;
    background-size: 30% 10%;}
    79%{background-position:10% 50%;
    background-size: 30% 10%;}
    87%{background-position:10% 40%;
     background-size: 100% 100%; }
    90%{background-position:20% 30%}
    100%{background-position:20% 20%}
}  


.phase02 {
  animation: two 60s infinite; 
    -webkit-animation: two 60s infinite; 
}

.phase02 > body::after {
    content: "dancers are moving to a new phase";
    background-color: #000;
    color: #FFF;
    font-size: 1.25rem;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%,-50%);
    margin: 1rem;
    padding: 0.5rem;
    line-height: 1rem;
    z-index: 999 !important;
    box-shadow: 5px 5px 20px #323232;
    animation: transtwo 6s forwards;
    -webkit-animation: transtwo 6s forwards; 
    animation-iteration-count: 1;
}
@keyframes transtwo {
    0% { opacity: 1 }
    25% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@-webkit-keyframes transtwo {
    0% { opacity: 1 }
    25% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
.nophase02 {
  animation: none; 
  -webkit-animation: none; 
}

@keyframes two {
0% {background: background: radial-gradient(circle at 5%, #fddddd, #eee 5%, #eee, #454545 5%);
    background-size: 10% 10%;}
5%  {background: radial-gradient(circle at 5%, #fddddd, #eee 5%, #eee, #454545 5%);} 
10% {background: background: radial-gradient(circle at 5%, #fddddd, #eee 5%, #eee, #454545 5%);
    background-size: 10% 100%;}
15% {background: background: radial-gradient(circle at 5%, #fddddd, #eee 5%, #eee, #454545 5%);
    background-size: 100% 100%;}
20%  {background: radial-gradient(circle at 5%, #fddddd, #eee 5%, #eee, #454545 50%); 
    background-size: 10% 100%;}
25% {background: radial-gradient(circle at 50%, #fddddd, #eee 5%, #eee, #454545 50%);
    background-size: 10% 100%;}
30% {background: radial-gradient(circle at 5%, #fddddd, #eee 5%, #eee, #454545 50%);
    background-size: 1% 10%;}
40% {background: radial-gradient(circle at 50%, #fddddd, #eee 5%, #eee, #454545 50%);
    background-size: 100% 50%;}
50%{background: radial-gradient(circle at 5%, #fddddd, #eee 5%, #eee, #454545 50%);} 
60% {background: radial-gradient(circle at 5%, #fddddd, #eee 5%, #eee 0%, #454545 5%);} 
65% {background: radial-gradient(circle at 5%, #fddddd, #eee 5%, #eee 5%, #454545 75%);}
70% {background: radial-gradient(circle at 100%, #333, #333 50%, #eee 75%, #333 75%)}
80% {background: radial-gradient(circle at 50%, #333, #eee 5%, #eee 5%, #333 75%);}
85% {background: radial-gradient(circle at 50%, #333, #eee 5%, #eee 5%, #eee 75%);}
95% {background:radial-gradient(circle at 50%, #333, #333 5%, #eee 5%, #333 75%) }
100% {background: radial-gradient(circle at 50%, #353535, #333 5%, #eee 5%, #333 75%);
    background-size: 10% 10%;}
}

@-webkit-keyframes two { 
  0% {background: background: radial-gradient(circle at 5%, #fddddd, #eee 5%, #eee, #454545 5%);
    background-size: 10% 10%;}
5%  {background: radial-gradient(circle at 5%, #fddddd, #eee 5%, #eee, #454545 5%);} 
10% {background: background: radial-gradient(circle at 5%, #fddddd, #eee 5%, #eee, #454545 5%);
    background-size: 10% 100%;;}
20%  {background: radial-gradient(circle at 5%, #fddddd, #eee 5%, #eee, #454545 50%); 
    background-size: 10% 100%;}
25% {background: radial-gradient(circle at 50%, #fddddd, #eee 5%, #eee, #454545 50%);
    background-size: 10% 100%;}
30% {background: radial-gradient(circle at 5%, #fddddd, #eee 5%, #eee, #454545 50%);
    background-size: 1% 10%;}
40% {background: radial-gradient(circle at 50%, #fddddd, #eee 5%, #eee, #454545 50%);
    background-size: 100% 50%;}
50%{background: radial-gradient(circle at 5%, #fddddd, #eee 5%, #eee, #454545 50%);} 
60% {background: radial-gradient(circle at 5%, #fddddd, #eee 5%, #eee 0%, #454545 5%);} 
65% {background: radial-gradient(circle at 5%, #fddddd, #eee 5%, #eee 5%, #454545 75%);}
70% {background: radial-gradient(circle at 100%, #333, #333 50%, #eee 75%, #333 75%)}
80% {background: radial-gradient(circle at 50%, #333, #eee 5%, #eee 5%, #333 75%);}
85% {background: radial-gradient(circle at 50%, #333, #eee 5%, #eee 5%, #eee 75%);}
95% {background:radial-gradient(circle at 50%, #333, #333 5%, #eee 5%, #333 75%) }
100% {background: radial-gradient(circle at 50%, #353535, #333 5%, #eee 5%, #333 75%);
    background-size: 10% 10%;}
}

.phase03 {
    animation: three 30s infinite; 
    -webkit-animation: three 30s infinite; 
}
.phase03 > body::after {
    content: "dancers are moving to a new phase";
    background-color: #000;
    color: #FFF;
    font-size: 1.25rem;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%,-50%);
    margin: 1rem;
    padding: 0.5rem;
    line-height: 1rem;
    z-index: 999 !important;
    box-shadow: 5px 5px 20px #323232;
    animation: transthree 6s forwards;
    -webkit-animation: transthree 6s forwards; 
    animation-iteration-count: 1;
}
@keyframes transthree {
    0% { opacity: 1 }
    25% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@-webkit-keyframes transthree {
    0% { opacity: 1 }
    25% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
.nophase03 {
  animation: none; 
  -webkit-animation: none; 
}

@keyframes three {
     0%   { background: #000;}
      10%  { background: radial-gradient(circle at 50%, #323232, #333 5%, #000, #454545 50%);}
      20%  { background: #000; }
      30%  { background: radial-gradient(ellipse at top, black, transparent),radial-gradient(ellipse at bottom, gray, transparent); }
      33%   { background: #000;}
      36%  { background: radial-gradient(ellipse at top, black, transparent),radial-gradient(ellipse at center, black, transparent)}
      42% {background: radial-gradient(ellipse at center, #020202, transparent),radial-gradient(ellipse at center, #454545, #ffdede);}
      45%   { background: #000;}
      50% { background: radial-gradient(ellipse at center, #020202, transparent),radial-gradient(ellipse at bottom, #454545, #eee)}
      55%   { background: #000;}
      60% {background: radial-gradient(ellipse at center, black, transparent),radial-gradient(ellipse at bottom, gray, transparent)}
      65%   { background: #000;}
      70% { background: radial-gradient(ellipse at right, black, transparent),radial-gradient(ellipse at bottom, black, transparent);}
      80%   { background: #000;}
      85% { background: radial-gradient(ellipse at right, #353535, transparent),radial-gradient(ellipse at bottom, #eee, transparent)} 
      90%   { background: #000;}
      95% {background:  radial-gradient(ellipse at center, #323232, #eee),radial-gradient(ellipse at bottom, #323232, #333)}   
      100% {background:  radial-gradient(ellipse at center, #000000, #454545 10%, #000000)}          
}

@-webkit-keyframes three {
      0%   { background: #000;}
      10%  { background: radial-gradient(circle at 50%, #323232, #333 5%, #000, #454545 50%);}
      20%  { background: #000; }
      30%  { background: radial-gradient(ellipse at top, black, transparent),radial-gradient(ellipse at bottom, gray, transparent); }
      33%   { background: #000;}
      36%  { background: radial-gradient(ellipse at top, black, transparent),radial-gradient(ellipse at center, black, transparent)}
      42% {background: radial-gradient(ellipse at center, #020202, transparent),radial-gradient(ellipse at center, #454545, #ffdede);}
      45%   { background: #000;}
      50% { background: radial-gradient(ellipse at center, #020202, transparent),radial-gradient(ellipse at bottom, #454545, #eee)}
      55%   { background: #000;}
      60% {background: radial-gradient(ellipse at center, black, transparent),radial-gradient(ellipse at bottom, gray, transparent)}
      65%   { background: #000;}
      70% { background: radial-gradient(ellipse at right, black, transparent),radial-gradient(ellipse at bottom, black, transparent);}
      80%   { background: #000;}
      85% { background: radial-gradient(ellipse at right, #353535, transparent),radial-gradient(ellipse at bottom, #eee, transparent)} 
      90%   { background: #000;}
      95% {background:  radial-gradient(ellipse at center, #323232, #eee),radial-gradient(ellipse at bottom, #323232, #333)}   
      100% {background:  radial-gradient(ellipse at center, #000000, #454545 10%, #000000)}          
} 

.phase04 {
  animation: four 30s infinite; 
  -webkit-animation: four 30s infinite; 
}

.phase04 > body::after {
    content: "dancers are moving to a new phase";
    background-color: #000;
    color: #FFF;
    font-size: 1.25rem;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%,-50%);
    margin: 1rem;
    padding: 0.5rem;
    line-height: 1rem;
    z-index: 999 !important;
    box-shadow: 5px 5px 20px #323232;
    animation: transfour 6s forwards;
    -webkit-animation: transfour 6s forwards;
    animation-iteration-count: 1;
}
@keyframes transfour {
    0% { opacity: 1 }
    25% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@-webkit-keyframes transfour {
    0% { opacity: 1 }
    25% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
.nophase04 {
  animation: none; 
  -webkit-animation: none; 
}

@keyframes four {
      0%   { background: radial-gradient(ellipse at center, #fddddd, #454545 10%, #fddddd);
            background-size: 100% 100%;}
      5%   { background: radial-gradient(ellipse at center, #fddddd, #454545 10%, #fddddd);
              background-size: 60% 300%;}
      10%   { background: radial-gradient(ellipse at center, #fddddd, #eee 10%, #fddddd);
            background-size: 100% 100%;}
      20%   { background: radial-gradient(ellipse at top, #fddddd, #eee 100%, #fddddd);
              background-size: 10% 10%; }
      22%   { background: radial-gradient(ellipse at top,  #eee, #eee 10%, #fddddd 10%);
            background-size: 100% 10%;}
      26%   { background: radial-gradient(ellipse at top, #eee, #fddddd 10%, #eee 10%);
              background-size: 100% 10%;}
      30%   { background: radial-gradient(ellipse at top, #eee, #fddddd 40%, #fddddd);
              background-size: 10% 100%;}
      35%   { background: radial-gradient(ellipse at top, #eee, #fddddd 40%, #eee);
              background-size: 10% 100%;}
      40%   { background: radial-gradient(ellipse at center, #eee, #fddddd 10%, #eee 10%);}
      45%   { background: radial-gradient(ellipse at center, #eee, #fddddd 10%, #fff 100%);}
      65%   { background: radial-gradient(ellipse at center, #fff, #fddddd 10%, #fff 100%);
              background-size: 10% 999%;
              background-position: left;}
      70%   { background: radial-gradient(ellipse at center, #fff, #fddddd 10%, #fff 100%);
              background-size: 10% 999%;}
      85%   { background: linear-gradient(#fff, #fddddd 10%, #fff 100%);
              background-size: 10% 10%;}
      90%   { background: linear-gradient(#fff, #fddddd 100%, #fff 10%);
              background-size: 100% 1%;}
      100%   { background: linear-gradient(#fff, #fddddd 100%, #fff 10%);}
}

@-webkit-keyframes four {
      0%   { background: radial-gradient(ellipse at center, #fddddd, #454545 10%, #fddddd);
            background-size: 100% 100%;}
      5%   { background: radial-gradient(ellipse at center, #fddddd, #454545 10%, #fddddd);
              background-size: 60% 300%;}
      10%   { background: radial-gradient(ellipse at center, #fddddd, #eee 10%, #fddddd);
            background-size: 100% 100%;}
      20%   { background: radial-gradient(ellipse at top, #fddddd, #eee 100%, #fddddd);
              background-size: 10% 10%; }
      22%   { background:  radial-gradient(ellipse at top,  #eee, #eee 10%, #fddddd 10%);
            background-size: 100% 10%;}
      26%   { background: radial-gradient(ellipse at top, #eee, #fddddd 10%, #eee 10%);
              background-size: 100% 10%;}
      30%   { background: radial-gradient(ellipse at top, #eee, #fddddd 40%, #fddddd);
              background-size: 10% 100%;}
      35%   { background: radial-gradient(ellipse at top, #eee, #fddddd 40%, #eee);
              background-size: 10% 100%;}
      40%   { background: radial-gradient(ellipse at center, #eee, #fddddd 10%, #eee 10%);}
      45%   { background: radial-gradient(ellipse at center, #eee, #fddddd 10%, #fff 100%);}
      65%   { background: radial-gradient(ellipse at center, #fff, #fddddd 10%, #fff 100%);
              background-size: 10% 999%;
              background-position: left;}
      70%   { background: radial-gradient(ellipse at center, #fff, #fddddd 10%, #fff 100%);
              background-size: 10% 999%;}
      85%   { background: linear-gradient(#fff, #fddddd 10%, #fff 100%);
              background-size: 10% 10%;}
      90%   { background: linear-gradient(#fff, #fddddd 100%, #fff 10%);
              background-size: 100% 1%;}
      100%   { background: linear-gradient(#fff, #fddddd 100%, #fff 10%);}
}

